My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        -96
      ],
      "id": "bc026c15-fbd6-4014-bae2-499d229d409a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "hRscKbPzSis9JMVG",
          "mode": "list",
          "cachedResultName": "My Datatable",
          "cachedResultUrl": "/projects/OJbHK3yMTGgURNlr/datatables/hRscKbPzSis9JMVG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.pubDate }}",
            "News": "={{ $json['content:encodedSnippet'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -80,
        112
      ],
      "id": "aa9395df-4df2-47a3-8ca8-85a6dd6d559d",
      "name": "Insert row"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        -96
      ],
      "id": "95b47dbe-ae16-4661-aa1b-e50e5f7dd528",
      "name": "Tech-IT-News"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        64
      ],
      "id": "4990da32-fc19-4cb9-88ee-9ff46a8e500f",
      "name": "droidsans"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        400
      ],
      "id": "d4592dcf-e881-415c-ad4b-0cf63078be28",
      "name": "nso.go.th"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -448,
        240
      ],
      "id": "82a6f477-a227-4765-9a69-5470dab3c821",
      "name": "RSS Read"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Tech-IT-News",
            "type": "main",
            "index": 0
          },
          {
            "node": "droidsans",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "nso.go.th",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech-IT-News": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "droidsans": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nso.go.th": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84c4f7c0-1520-4e2b-a304-91536eccfdef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03531e0120fe561297c255b62e6e217d1ec99b258507edb1345ac89effbf91ae"
  },
  "id": "9Jqzqfj1T9AA4RhK",
  "tags": []
}